/*Covering propertys*/

html{
    height: 100%;
    background-image: linear-gradient(rgb(240, 200, 195),rgba(240, 104, 89, 0.938));

}

body{
    text-align: center;
    font-size: xx-large;

}

.ContainerBox{
    background-color: white; 
    padding: 10px;
    width: 40%;
    margin:auto;
    margin-top: 10px;
    animation: slide-in 2s;

  }

  @keyframes slide-in{
    0%{
        transform: translate(0, -300px);
        opacity: 0;
    }
    50%{
        transform: translate(0,100px);
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
  }

  /*Text-box fade in*/
@keyframes Fade-In{
    0% {opacity: 0}
    33%{opacity: 0}
    50%{opacity: 0,5}
    100%{opacity: 1}
    
}

  /*Items*/
h1{
    animation:Fade-In 0,5s forwards;
    
  }

h3{
    font-size: xx-large;
    animation: Fade-In 1s forwards;
    
}

input{
    font-size: 25px;
    border-radius: 5px 5px 5px 5px;
    outline-color:blue;
    animation:Fade-In 2s forwards;
    
}

button{
    font-size: 25px;
    border-radius: 5px 5px 5px 5px;
    animation: Fade-In 2s forwards;
    
}

ul{
    list-style-type: none;
}

li{
 font-size: xx-large;
 animation: todo-item-enter 1s;

}
@keyframes todo-item-enter{
    0%{
        opacity: 0;
        transform:translate(0, 50px)
        
    }
    100%{
        opacity: 1;
        transform: translate(0, 0)
        
    }
}
.completed{
    text-decoration: line-through black; 
    animation: Comp-Fade 500ms;
    animation-fill-mode: forwards;
}
@keyframes Comp-Fade{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.5;
    }
}


.trashcan{
    font-size: x-large;
    margin-left: 20px;
    cursor:pointer;
    animation: todo-item-enter 1s;
}

p{
    animation: Fade-In 3s forwards;
    

}
small{
    color:red;
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
    animation: Input-Warning 2s linear infinite;

}
@keyframes Input-Warning{
50%{
    color:red;
    opacity: 0;
}
}

a:link, a:visited {
    background-color: #f37b73;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: medium;
  }

  a:hover, a:active {
    background-color: red;
    font-size: x-large;
  }
