html{
    background-image: linear-gradient(to right, rgb(250, 173, 173),rgb(245, 205, 132),rgb(243, 243, 130),rgb(169, 238, 169),rgb(160, 160, 245),rgb(162, 135, 180),rgb(231, 173, 231));
}
h1{
    color:rgb(250, 174, 205);
    font-family:Trocchi; 
}

h3{ 
    font-family:monospace;
    color:#f1acda;
    
}

.ContainerBox{
    background-image: url(images/Box-img.jpg);
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(221, 164, 137);
    text-align: center;
    width: 80%;
    margin:auto;
    
}
body{
    font-size: x-large;
}
button{
 background-color: transparent;
 border-color: #f1acda;
 
}

.completed{
    text-decoration: line-through;  
    color:rgb(132, 160, 201);
}

ul{
   
    list-style-type: none; 
    
}

li{
    color:rgb(104, 121, 197);
    transition: color 1s;
    font-family:'Times New Roman', Times, serif
}

li:hover{
    color:rgb(128, 0, 187);

}

p{

 font-size:medium;
 color:rgb(120, 126, 209);

}


.trashcan {
    font-size: x-large;
    margin-left: 20px;
    cursor: pointer;
    color: rgb(104, 121, 197);
}

.trashcan:hover{
    color:rgb(226, 144, 226);
}

a{
    font-size: small;
}