h1{
    color:rgb(250, 174, 205);
    font-size: xxx-large;
    font-family:Trocchi; 
}

h3{ 
    font-size:x-large;
    font-family:monospace;
    color:#f1acda;
    
}

.ContainerBox{
    background-image: url(images/Box-img.jpg);
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(221, 164, 137);
    text-align: center;
    
}

button{
 background-color: transparent;
 border-color: #f1acda;
 
}

.completed{
    text-decoration: line-through;  
    color:rgb(132, 160, 201);
}

ul{
    padding: 0ch;
    list-style-type: none; 
    font-family:cursive;
}

li{
    color:rgb(104, 121, 197);
    transition: color 1s;
}

li:hover{
    color:rgb(128, 0, 187);

}

p{

 font-size:larger;
 color:rgb(120, 126, 209);

}

body {
    background-image: url("images/Img_rainbow.jfif");
    background-size:cover;
    background-repeat:repeat-y;
    
    
}

.trashcan {
    font-size: x-large;
    margin-left: 20px;
    cursor: pointer;
    color: rgb(104, 121, 197);
}

.trashcan:hover{
    color:rgb(226, 144, 226);
}