h1{
    font-size: xxx-large;
    font-family: fantasy;
    color:bisque;  
}

h3{
    font-size: x-large;
    font-family: sans-serif;
    color:bisque;
}

input{
    background-color:bisque;
}

button{
    background-color: bisque;
}
ul{
    list-style-type: none;
}

li{
    font-size: x-large;
    color:bisque;
    animation: todo-item-enter 0.6s;
    animation-timing-function: cubic-bezier(0.34,1.56,0.64,1);
    font-family:sans-serif;
    transition: color 1s;
}

li:hover{
    color:goldenrod;
}

@keyframes todo-item-enter{
    0%{
        transform:translate(-300px, 0)
        
    }
    100%{
        transform: translate(0, 0);
    }
}

@keyframes slide-text{
    from{
        margin-right: 0%;
        width: 300%;
    }
    to{
        margin-right: 0%;
        width: 100%
    }
}
.trashcan {
    font-size: x-large;
    margin-left: 20px;
    cursor:pointer;
    color:bisque;
}

.trashcan:hover{
    color: brown;
}
.ContainerBox{
    text-align: center;
    background-image: url(images/space.png);
    animation-name: slide-text;
    animation-duration: 2s;
    margin: 8%;
}
 
p{
    font-size: larger;
    color:bisque;
    font-family: sans-serif;
    animation-name: slide-text;
    animation-duration: 3s;
}

.completed{
    text-decoration: line-through orangered;  
    color:goldenrod;
}

body{
    background-image: url(images/space-odyssey.jpg);
    background-size: cover;
    background-repeat: repeat;
}

a{  
    font-size: x-large;
    color: aqua;
}

